
.welcomePage{
  display: flex;

}
.background{
  display: flex;
  width: 50%;
  height: 100%;
}
.background img{
 height: 100vh;
 width: 100%;
}


.form{
  display: flex;
width: 50%;
background-image: linear-gradient(to bottom, #a4a0a0 0%, #353434 50%, black
 100%);
height: 100vh;
position: absolute;
justify-content: center;
align-items: center;
}

  .form h1 {
  display: flex;
  justify-content: center;
  font-size: 5em;
  margin: 0; 
  color: white;
}

 form p{
  font-weight: bold;
  font-size: 25px;
  text-align: center; 
  margin: 0;
  color: white;
}


.BioSync {
  font-style: oblique;

  border-radius: 10px;
  font-size: 30px;
  color: #34495e; /* Initial text color */
  animation: colorChange 1s ease-in-out infinite alternate; /* Animation definition */
}
@keyframes colorChange {
  0% { color: #4fc3dc; } /* Start with initial color */
  33% { color: #4fc3dc; } /* Change to teal at 33% */
  66% { color: #0c192c; } /* Change to green at 66% */
  100% { color: #4d6b98; } /* Back to initial color at 100% */
}


.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  
}
.button a{
  margin: 10px;
}

.button a { /* Style links within buttons */
  padding: 1rem 2rem; /* Add padding for buttons */
  border: none;
  border-radius: 5px; /* Add rounded corners */
  color: #fff; /* Set text color to white */
  text-decoration: none; /* Remove default link underline */
  font-weight: bold; /* Make text bold */
  background-image: linear-gradient(to right, #0c192c 0%, #4fc3dc 100%); 
  transition: all 0.3s ease-in-out;
}

.button a:hover {
  background-image: linear-gradient(to right, #4fc3dc 0%, #0c192c 100%); /* Swap button gradient on hover */
}


  @media (max-width: 768px){
  .background{
    display: none; 
    width: 100%;
  } 
  .form{
    width: 100%;
  }
  .form h1{
    font-size: 3em;
  }
  .form p{font-size: 15px;}
  
  .form .BioSync{
    font-size: 20px;
  }
  .button a{
    font-size: 10px;
    padding: 10px;
  }
}
