.navbar{
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  background-color: #274164;
  height: 70px;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  z-index: 0;
}
.logo{
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.logo .menu{
  display: none;
  align-items: center;
}

.logo .BioSync {
  display: flex;
 font-size: 20px;
  top: 0;
  align-items: center;
  margin: 5px;
  color: white;
  font-style: italic;
  font-weight: bold;
}

.links{
display: flex;
margin: 10px;
}
.link:active{
  background-color: black;
}

.pages ul li{
  display: inline-block;
  justify-content: center;
  margin: 10px;
  text-decoration: none;
  
}

.pages a{
  text-decoration: none;
  background-color: white;
  padding: 8px 20px;
  border: 1px solid black;
  border-radius: 5px;
  color: black; 
}

 a:active{

  background-color: black;
}

/* .pages a:hover{
  color: white;
  background-color: black;
  font-weight: bold;
  transition: 1s;
} */
.Home{
  background-color: red;
}
.menu button{
  background-color: none;
  border: none; 
  width: 0px;
  margin-right: 20px;

}
button img{
  display: flex;
  width: 10px;
 align-items: center;
 
}

.logout .profile{
width: auto;
display: flex;
}


.logout{
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.logout .profile{
  display: flex;
}

.logout button{
background-color:transparent;
border: none;

}



.log img{
  width: 20px;
  justify-content: center;

}

.HomeMain{
  margin-top: 100px;
}

.footer{
  position: absolute;
  bottom: 0;
}



@media(max-width: 1000px){
  .pages a{
    display: none;
  }

  .logo .menu{
    display: flex;
  }

  .logo .BioSync{
    margin-left: 0px;
  }

  .navbar{
    height: 50px;
  }
   .logout .profile{
    display: inline-block;
    resize: 20px;
  }

}